{% extends 'base.html' %}
{% load crispy_forms_tags%}


{% block title %}Delete Post{% endblock title %}


{% block body %}


<div class="container my-3 col-md-6 border border-primary">
    <div class="d-flex justify-content-center my-3 mt-5">
        <h1>Post Form</h1>
    </div>
    <hr>
    <div class="container col-md-10 justify-content-center my-5">
        <form method="POST">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete</legend>
                <h2> Are You Sure?</h2>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Yes Delete</button>
                <a href="{% url 'post-details' object.id %}" type="submit" class="btn btn-secondary">No</a>
            </div>

        </form>

    </div>
    {% endblock body %}